<tr>
    <td><%= line_item.product.title %></td>
    <td>&times;<%= line_item.quantity%></td>
    <td><%= number_to_currency(line_item.product.price) %></td>
    <td><%= link_to fa_icon("trash"), line_item_url(line_item), method: :delete,
    data: { confirm: 'Are you sure?' }%></td>
</tr>